In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

In [2]:
cities=['London','Berlin','Warsaw','Paris']
cities

['London', 'Berlin', 'Warsaw', 'Paris']

In [3]:
pd.Series(cities)

0    London
1    Berlin
2    Warsaw
3     Paris
dtype: object

# Zadania 1

In [4]:
weekdays=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday']
weekdaysSeries=pd.Series(weekdays)
weekdaysSeries

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5     Saturday
6       Sunday
dtype: object

In [5]:
freeDays=[False,False,False,False,False,True,True]
freeDaysSeries=pd.Series(freeDays)
freeDaysSeries

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [6]:
holidays={'New Year': '2022-01-01',
         'Epiphany': '2022-01-06',
         'Easter': '2022-04-01'}
holidaysSeries=pd.Series(holidays)
holidaysSeries

New Year    2022-01-01
Epiphany    2022-01-06
Easter      2022-04-01
dtype: object

# Zadanie 2

In [7]:
dataAsFloatList = []
for i in range(100000):
    dataAsFloatList.append(i*rnd.random())
dataAsFloatSeries = pd.Series(dataAsFloatList)

In [8]:
dataAsFloatSeries.size

100000

In [9]:
dataAsFloatSeries.nbytes

800000

In [10]:
dataAsFloatSeries.shape

(100000,)

In [11]:
dataAsFloatSeries.axes

[RangeIndex(start=0, stop=100000, step=1)]

In [12]:
dataAsFloatSeries.dtype

dtype('float64')

In [13]:
dataAsFloatSeries.index

RangeIndex(start=0, stop=100000, step=1)

In [14]:
dataAsFloatSeries.is_unique

True

In [15]:
dataAsFloatSeries.is_monotonic

False

In [16]:
dataAsStringList = []
for i in range(100000):
    dataAsStringList.append(str(i*rnd.random()))
dataAsStringSeries = pd.Series(dataAsStringList)

In [17]:
dataAsStringSeries.size

100000

In [18]:
dataAsStringSeries.nbytes

800000

In [19]:
dataAsStringSeries.dtype

dtype('O')

# Zadanie 3

In [20]:
cities=['Shanghai','Beijing','Istanbul']
population=[24183300,20794100,15030000]
citypop=pd.Series(population,cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [21]:
citypop=pd.Series(data=population, index=cities)
citypop

Shanghai    24183300
Beijing     20794100
Istanbul    15030000
dtype: int64

In [22]:
citypop.sum()

60007400

In [23]:
citypop.mean()

20002466.666666668

In [24]:
citypop.keys()

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [25]:
citypop.index

Index(['Shanghai', 'Beijing', 'Istanbul'], dtype='object')

In [26]:
citypop.values

array([24183300, 20794100, 15030000], dtype=int64)

# Zadanie 4

In [27]:
wiek=['do 6','7-14','15-17','18-24','25-39','40-59','60 i wiecej']
liczba=[14,334,312,5823,9491,7586,4343]
incidens=pd.Series(liczba,wiek)

In [28]:
incidens.where(incidens>1000)

do 6              NaN
7-14              NaN
15-17             NaN
18-24          5823.0
25-39          9491.0
40-59          7586.0
60 i wiecej    4343.0
dtype: float64

In [29]:
incidens.where(incidens>1000).dropna()

18-24          5823.0
25-39          9491.0
40-59          7586.0
60 i wiecej    4343.0
dtype: float64

In [30]:
incident1000=incidens.where(incidens>1000).dropna()
incident1000

18-24          5823.0
25-39          9491.0
40-59          7586.0
60 i wiecej    4343.0
dtype: float64

In [31]:
incidens

do 6             14
7-14            334
15-17           312
18-24          5823
25-39          9491
40-59          7586
60 i wiecej    4343
dtype: int64

In [32]:
incidens.filter(items=["18-24", "25-39", "40-59"])

18-24    5823
25-39    9491
40-59    7586
dtype: int64

In [33]:
incidens.where(incidens <= 1000, inplace = True)
incidens.dropna(inplace=True)
incidens

do 6      14.0
7-14     334.0
15-17    312.0
dtype: float64

# Zadanie 5

In [34]:
namesList = ['Albania','Austria','Belarus','Belgium','Bulgaria','Croatia','Cyprus','Czech Republic','Denmark','Estonia','Finland','France','Germany','Greece'
'Hungary','Iceland','Ireland','Italy','Latvia','Lithuania','Luxembourg','Macedonia','Malta','Montenegro','Netherlands','Norway','Poland','Portugal'
'Romania','Russia','Serbia','Slovenia','Spain','Sweden','Switzerland','United Kingdom','Turkey','Ukraine']
namesSeries = pd.Series(namesList)

In [35]:
energy2010List = [1947,8347,3564,8369,4560,3814,4623,6348,6328,6506,16483,7736,7264,5318,3876,51440,5911,5494,3230,3471,16830,3521,4171,5420,
7010,24891,3797,4959,2551,6410,4359,6521,5707,14934,8175,2498,3550,5701]
energy2010Series = pd.Series(energy2010List)

In [36]:
energy2012List = [2118,8507,3698,7987,4762,3819,4057,6305,6039,6689,15687,7344,7270,5511,3919,53203,5665,5398,3588,3608,14696,3626,4761,5416,
6871,23658,3899,4736,2604,6617,4387,6778,5573,14290,7886,2794,3641,5452]
energy2012Series = pd.Series(energy2012List)

In [37]:
mean2010=energy2010Series.mean()
mean2010

7779.8421052631575

In [38]:
mean2012=energy2012Series.mean()
mean2012

7706.815789473684

In [39]:
filterAboveMean2010=energy2010Series>mean2010
filterAboveMean2010

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [40]:
filterAboveMean2012=energy2012Series>mean2012
filterAboveMean2012

0     False
1      True
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
20     True
21    False
22    False
23    False
24    False
25     True
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33     True
34     True
35    False
36    False
37    False
dtype: bool

In [41]:
namesSeries.where(filterAboveMean2010 & filterAboveMean2012).dropna()

1            Austria
3            Belgium
10           Finland
15           Ireland
20         Macedonia
25            Poland
33    United Kingdom
34            Turkey
dtype: object

In [42]:
filterBelowMean2010=energy2010Series<mean2010
filterBelowMean2010

0      True
1     False
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14     True
15    False
16     True
17     True
18     True
19     True
20    False
21     True
22     True
23     True
24     True
25    False
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33    False
34    False
35     True
36     True
37     True
dtype: bool

In [43]:
namesSeries.where(filterAboveMean2012 & filterBelowMean2010).dropna()

Series([], dtype: object)

# Zadanie 6

In [44]:
obj=pd.read_csv('./course-files/pokemon.csv')
type(obj)

pandas.core.frame.DataFrame

In [45]:
obj=pd.read_csv('./course-files/pokemon.csv',usecols=['Name'],squeeze=True)
type(obj)

pandas.core.series.Series

In [46]:
education = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv',usecols=['FormalEducation'])
education

                                         FormalEducation
0                                       Secondary school
1      Some college/university study without earning ...
2                                      Bachelor's degree
3                                        Doctoral degree
4                                        Master's degree
...                                                  ...
51387                                  Bachelor's degree
51388                                    Master's degree
51389  Some college/university study without earning ...
51390                                  Bachelor's degree
51391                                  Bachelor's degree

[51392 rows x 1 columns]

In [47]:
education.head()

                                     FormalEducation
0                                   Secondary school
1  Some college/university study without earning ...
2                                  Bachelor's degree
3                                    Doctoral degree
4                                    Master's degree

In [48]:
education = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv',usecols=['FormalEducation'],squeeze=True)
education

0                                         Secondary school
1        Some college/university study without earning ...
2                                        Bachelor's degree
3                                          Doctoral degree
4                                          Master's degree
                               ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, Length: 51392, dtype: object

In [49]:
type(education)

pandas.core.series.Series

In [50]:
education.tail(10)

51382                                      Master's degree
51383               I never completed any formal education
51384                                    Bachelor's degree
51385                                      Master's degree
51386    Some college/university study without earning ...
51387                                    Bachelor's degree
51388                                      Master's degree
51389    Some college/university study without earning ...
51390                                    Bachelor's degree
51391                                    Bachelor's degree
Name: FormalEducation, dtype: object

In [51]:
allinfo = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv')

In [52]:
country = allinfo['Country']

In [53]:
country.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [54]:
filterOnlyUSA =country=="United States"
filterOnlyUSA.head()

0     True
1    False
2    False
3     True
4    False
Name: Country, dtype: bool

In [55]:
education.where(filterOnlyUSA).dropna().head(10)

0              Secondary school
3               Doctoral degree
6               Master's degree
10            Bachelor's degree
15    Primary/elementary school
17            Bachelor's degree
18            Bachelor's degree
25              Master's degree
27            Bachelor's degree
29            Bachelor's degree
Name: FormalEducation, dtype: object

# Zadanie 7

In [56]:
salary = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv',usecols=['Salary'],squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [57]:
len(salary)

12891

In [58]:
min(salary)

0.0

In [59]:
max(salary)

197000.0

In [60]:
list(salary.head())

[113750.0, 100000.0, 130000.0, 82500.0, 100764.0]

In [61]:
dict(salary.head())

{2: 113750.0, 14: 100000.0, 17: 130000.0, 18: 82500.0, 22: 100764.0}

In [62]:
listSalarySorted = sorted(salary,reverse=True)

In [63]:
listSalarySorted[:5]

[197000.0, 195000.0, 195000.0, 195000.0, 195000.0]

In [64]:
salary.name='Salary of a person'
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary of a person, dtype: float64

# Zadanie 8

In [65]:
salary = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv',usecols=['Salary'],squeeze=True).dropna()
salary.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [66]:
salary.sort_values(ascending=False).head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [67]:
salary.sort_values().head()

51144    0.0
23953    0.0
23907    0.0
44841    0.0
2951     0.0
Name: Salary, dtype: float64

In [68]:
salary.sort_values(ascending=False, inplace=True)
salary.head()

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
Name: Salary, dtype: float64

In [69]:
salary.sort_index(ascending=False)

51390     40000.000000
51387     58000.000000
51382     32258.064516
51378    107526.881720
51371     74193.548387
             ...
22       100764.000000
18        82500.000000
17       130000.000000
14       100000.000000
2        113750.000000
Name: Salary, Length: 12891, dtype: float64

In [70]:
maxSalaries = salary.head(100)
maxSalaries

31600    197000.0
27943    195000.0
6743     195000.0
18237    195000.0
41398    195000.0
           ...
22488    170000.0
41861    170000.0
21133    170000.0
6659     170000.0
13235    170000.0
Name: Salary, Length: 100, dtype: float64

In [71]:
minSalaries = salary.tail(100)
minSalaries

1077     200.000000
48674    198.649186
50569    198.208780
33212    178.784267
26905    176.185582
            ...
44841      0.000000
23953      0.000000
51144      0.000000
4517       0.000000
2951       0.000000
Name: Salary, Length: 100, dtype: float64

In [72]:
maxMean = maxSalaries.mean()
maxMean

180198.1045586777

In [73]:
minMean = minSalaries.mean()
minMean

67.08388907133794

# Zadanie 9

In [74]:
countries = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv',usecols=['Country'],squeeze=True).dropna()
countries.head()

0     United States
1    United Kingdom
2    United Kingdom
3     United States
4       Switzerland
Name: Country, dtype: object

In [75]:
'Spain' in countries.values

True

In [76]:
'Spain' in countries

False

In [77]:
'Wonderland' in countries.values

False

# Zadanie 10

In [78]:
survey = pd.read_csv('./course-files/StackOverflowDeveloperSurvey.csv',usecols=['CompanySize'],squeeze=True)
survey.head()

0                         NaN
1          20 to 99 employees
2    10,000 or more employees
3    10,000 or more employees
4          10 to 19 employees
Name: CompanySize, dtype: object

In [79]:
survey[3]

'10,000 or more employees'

In [80]:
survey[1:11]

1           20 to 99 employees
2     10,000 or more employees
3     10,000 or more employees
4           10 to 19 employees
5                          NaN
6           20 to 99 employees
7      Fewer than 10 employees
8     5,000 to 9,999 employees
9                          NaN
10        100 to 499 employees
Name: CompanySize, dtype: object

In [81]:
survey[12345]

'20 to 99 employees'

In [82]:
survey[12341:12351]

12341                         NaN
12342    1,000 to 4,999 employees
12343    10,000 or more employees
12344        100 to 499 employees
12345          20 to 99 employees
12346                         NaN
12347     Fewer than 10 employees
12348          20 to 99 employees
12349          20 to 99 employees
12350          20 to 99 employees
Name: CompanySize, dtype: object

In [83]:
survey.sort_values(inplace=True)

In [84]:
survey[3]

'10,000 or more employees'

In [85]:
survey[12345]

'20 to 99 employees'

In [86]:
survey[1:11]

36683    1,000 to 4,999 employees
43105    1,000 to 4,999 employees
43102    1,000 to 4,999 employees
30582    1,000 to 4,999 employees
43072    1,000 to 4,999 employees
43063    1,000 to 4,999 employees
23955    1,000 to 4,999 employees
43060    1,000 to 4,999 employees
43056    1,000 to 4,999 employees
30558    1,000 to 4,999 employees
Name: CompanySize, dtype: object

In [87]:
survey.reset_index(drop=True,inplace=True)

In [88]:
survey[3]

'1,000 to 4,999 employees'

In [89]:
survey[12345]

'10,000 or more employees'

In [90]:
survey[1:11]

1     1,000 to 4,999 employees
2     1,000 to 4,999 employees
3     1,000 to 4,999 employees
4     1,000 to 4,999 employees
5     1,000 to 4,999 employees
6     1,000 to 4,999 employees
7     1,000 to 4,999 employees
8     1,000 to 4,999 employees
9     1,000 to 4,999 employees
10    1,000 to 4,999 employees
Name: CompanySize, dtype: object

# Zadanie 11

In [91]:
countries = pd.read_csv("./course-files/countries.csv", usecols=['Symbol','Name'],index_col='Symbol',squeeze=True)
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [92]:
countries['FR']

'France'

In [93]:
countries[13]

'Austria'

In [102]:
nordic = ['FI','SE','NO']

In [103]:
countries[nordic]

Symbol
FI    Finland
SE     Sweden
NO     Norway
Name: Name, dtype: object

# Zadanie 12

In [106]:
countries = pd.read_csv("./course-files/countries.csv", usecols=['Symbol','Name'],index_col='Symbol',squeeze=True)
countries.dropna(inplace=True)
countries.head(20)

Symbol
AF            Afghanistan
AL                Albania
DZ                Algeria
AD                Andorra
AO                 Angola
AI               Anguilla
AQ             Antarctica
AG    Antigua and Barbuda
SA           Saudi Arabia
AR              Argentina
AM                Armenia
AW                  Aruba
AU              Australia
AT                Austria
AZ             Azerbaijan
BS                Bahamas
BH                Bahrain
BD             Bangladesh
BB               Barbados
BE                Belgium
Name: Name, dtype: object

In [109]:
toFind=['BB','AA','BS']

In [114]:
countries.reindex(toFind)

Symbol
BB    Barbados
AA         NaN
BS     Bahamas
Name: Name, dtype: object

In [115]:
countries.index.intersection(toFind)

Index(['BS', 'BB'], dtype='object', name='Symbol')

In [116]:
countries.loc[countries.index.intersection(toFind)]

Symbol
BS     Bahamas
BB    Barbados
Name: Name, dtype: object

# Zadanie 13

In [118]:
fortune500 = pd.read_csv("./course-files/Fortune_500_2017.csv", usecols=['Rank','Title'],index_col='Rank',squeeze=True)
fortune500.head(10)

Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor
Name: Title, dtype: object

In [119]:
fortune500.tail(20)

Rank
481           Booz Allen Hamilton Holding
482                              Chemours
483    Western & Southern Financial Group
484                              Celanese
485                   Windstream Holdings
486                              Seaboard
487                             Essendant
488                                Apache
489                                Airgas
490                        Kelly Services
491                         Liberty Media
492                      Rockwell Collins
493             Robert Half International
494                             CH2M Hill
495                              Big Lots
496                         Michaels Cos.
497                         Toll Brothers
498                                 Yahoo
499                         Vistra Energy
500                        ABM Industries
Name: Title, dtype: object

In [126]:
fortune500 = pd.read_csv("./course-files/Fortune_500_2017.csv", usecols=['Employees','Title'],index_col='Title',squeeze=True)
fortune500[['IBM','Alphabet','Facebook','Apple']]

Title
IBM         414400
Alphabet     72053
Facebook     17048
Apple       116000
Name: Employees, dtype: int64

In [125]:
fortune500['IBM':'Intel']

Title
IBM                          414400
State Farm Insurance Cos.     68234
Phillips 66                   14800
Johnson & Johnson            126400
Procter & Gamble             105000
Valero Energy                  9996
Target                       323000
Freddie Mac                    5982
Loweâ€™s                       240000
Dell Technologies            138000
MetLife                       58000
Aetna                         49500
PepsiCo                      264000
Archer Daniels Midland        31800
UPS                          335520
Intel                        106000
Name: Employees, dtype: int64

# Zadanie 14

In [130]:
programmers = pd.read_csv("./course-files/StackOverflowDeveloperSurvey2018.csv", low_memory=False, usecols=['ConvertedSalary'], squeeze=True)

In [131]:
programmers.mean()

95780.86178776571

In [132]:
programmers.median()

55075.0

In [133]:
programmers.std()

202348.21562528735

In [134]:
programmers.max()

2000000.0

In [135]:
fortune500 = pd.read_csv("./course-files/Fortune_500_2017.csv", usecols=['Employees','Title'],index_col='Title',squeeze=True)
fortune500.head()

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
Name: Employees, dtype: int64

In [136]:
fortune500.idxmax()

'Walmart'

In [137]:
fortune500['Walmart']

2300000

In [138]:
fortune500.idxmin()

'A-Mark Precious Metals'

In [139]:
fortune500['A-Mark Precious Metals']

83

# Zadanie 15

In [141]:
surveys = pd.read_csv("./course-files/StackOverflowDeveloperSurvey.csv",usecols=['Salary'], squeeze=True).dropna()
surveys.head()

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

In [142]:
surveys.count()

12891

In [144]:
surveysIncrease = surveys * 0.03

In [145]:
surveysAfterIncrease = surveys+surveysIncrease
surveysAfterIncrease.head()

2     117162.50
14    103000.00
17    133900.00
18     84975.00
22    103786.92
Name: Salary, dtype: float64

In [147]:
surveysTime = pd.read_csv("./course-files/StackOverflowDeveloperSurvey2018.csv",usecols=['HoursOutside'], squeeze=True,low_memory=False).dropna()
surveysTime

0                 1 - 2 hours
1             30 - 59 minutes
3        Less than 30 minutes
4                 1 - 2 hours
5             30 - 59 minutes
                 ...
93408             1 - 2 hours
93416             3 - 4 hours
93435             1 - 2 hours
93442    Less than 30 minutes
93462             1 - 2 hours
Name: HoursOutside, Length: 72024, dtype: object

In [148]:
surveysTime.value_counts()

1 - 2 hours             27788
30 - 59 minutes         24002
Less than 30 minutes    11223
3 - 4 hours              7186
Over 4 hours             1825
Name: HoursOutside, dtype: int64

In [149]:
surveysTime = surveysTime.str.lower()
surveysTime.head()

0             1 - 2 hours
1         30 - 59 minutes
3    less than 30 minutes
4             1 - 2 hours
5         30 - 59 minutes
Name: HoursOutside, dtype: object

In [150]:
surveysTime = surveysTime.apply(lambda desc: desc.upper())
surveysTime.head()

0             1 - 2 HOURS
1         30 - 59 MINUTES
3    LESS THAN 30 MINUTES
4             1 - 2 HOURS
5         30 - 59 MINUTES
Name: HoursOutside, dtype: object

In [151]:
def changeDescription(text):
    if text == 'LESS THAN 30 MINUTES':
        return 'LESS THAN HALFHOUR'
    else:
        return text

In [152]:
changeDescription('test')

'test'

In [153]:
changeDescription('LESS THAN 30 MINUTES')

'LESS THAN HALFHOUR'

In [155]:
surveysTime=surveysTime.apply(changeDescription)
surveysTime.head()

0           1 - 2 HOURS
1       30 - 59 MINUTES
3    LESS THAN HALFHOUR
4           1 - 2 HOURS
5       30 - 59 MINUTES
Name: HoursOutside, dtype: object

# Zadanie 16

In [157]:
dicts = {'PYT001':'Airbus 320','PYT002':'Boeing 737','PYT003':'Airbus 321'}
dicts

{'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

In [158]:
aircrafts = pd.Series(dicts)
aircrafts

PYT001    Airbus 320
PYT002    Boeing 737
PYT003    Airbus 321
dtype: object

In [159]:
flightsList = []
for x in range(100):
    flightsList.append(rnd.choice(aircrafts.index))
flightsList[:5]

['PYT002', 'PYT003', 'PYT002', 'PYT002', 'PYT001']

In [161]:
flights = pd.Series(flightsList)
flights.head()

0    PYT002
1    PYT003
2    PYT002
3    PYT002
4    PYT001
dtype: object

In [163]:
flights_aircrafts = flights.map(aircrafts)
flights_aircrafts.head()

0    Boeing 737
1    Airbus 321
2    Boeing 737
3    Boeing 737
4    Airbus 320
dtype: object